<div id="homepage" v-cloak>
  <div style="background-color: #F0F0F0;">
    <div style="max-width: 1200px" class="container-fluid py-5 px-2 px-sm-5">
      <div style="max-width: 350px" class="mx-auto mx-sm-0">
        <h1 class="mb-4">See your whole fleet, all in one place.</h1>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
        <a href="/contact" class="btn btn-block btn-lg btn-dark mb-5">Get started with Fleet</a>
      </div>
    </div>
  </div>

  <div style="max-width: 1200px" class="container-fluid py-5 px-2 px-sm-5 mx-auto">
    <div class="text-center py-5">
      <p class="text-uppercase mb-1">Features</p>
      <h2 class="mb-5">Turn on the lights in enterprise IT</h2>
      <p style="max-width: 640px;" class="pb-5 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      <img class="w-100 my-4" src="https://source.unsplash.com/2400x920/?kitten"/>
    </div>
    <div class="row pt-5 my-4">
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?kitten"/>
      </div>
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">Device management</p>
        <h2 class="mb-3">Deploy and manage osquery fleets at scale</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
    </div>
    <div class="row pt-5 my-4">
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">No secrets</p>
        <h2 class="mb-3">Provide transparency for your end users</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?kitten,calico"/>
      </div>
    </div>
    <div class="row pt-5 my-4">
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?kitten,tabby"/>
      </div>
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">Alerts</p>
        <h2 class="mb-3">Monitor devices with simple built-in alerts</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
    </div>
    <div class="row pt-5 my-4">
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">Live queries</p>
        <h2 class="mb-3">Investigate ongoing incidents in real time</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?kitty"/>
      </div>
    </div>
    <div class="row pt-5 my-4">
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?kittens"/>
      </div>
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">Labels</p>
        <h2 class="mb-3">Query your entire fleet or specific groups of devices</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
    </div>
    <div class="row pt-5 my-4">
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">Something else</p>
        <h2 class="mb-3">Something about some other feature</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?cats"/>
      </div>
    </div>
  </div>

  <div style="background-color: #EAEAEA;">
    <div style="max-width: 1200px;" class="container-fluid py-5 px-2 px-sm-5 mx-auto">
      <div class="text-center py-5">
        <p class="text-uppercase mb-1">Premium features</p>
        <h2 class="mb-5">Attention-grabbing headline</h2>
        <p style="max-width: 640px;" class="pb-5 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
        <div class="card-deck">
          <div style="border-radius: 15px; margin-left: 5px; margin-right: 5px;" class="card">
            <div class="card-body p-4 text-center">
              <div style="width: 150px; height: 150px; overflow: hidden;" class="rounded-circle mx-auto mb-3">
                <img class="w-100" src="https://source.unsplash.com/300x300/?bunnies"/>
              </div>
              <p class="font-weight-bold">Advanced team permissions</p>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
            </div>
          </div>
          <div style="border-radius: 15px; margin-left: 5px; margin-right: 5px;" class="card">
            <div class="card-body p-4 text-center">
              <div style="width: 150px; height: 150px; overflow: hidden;" class="rounded-circle mx-auto mb-3">
                <img class="w-100" src="https://source.unsplash.com/300x300/?rabbits"/>
              </div>
              <p class="font-weight-bold">Advanced team permissions</p>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
            </div>
          </div>
          <div style="border-radius: 15px; margin-left: 5px; margin-right: 5px;" class="card">
            <div class="card-body p-4 text-center">
              <div style="width: 150px; height: 150px; overflow: hidden;" class="rounded-circle mx-auto mb-3">
                <img class="w-100" src="https://source.unsplash.com/300x300/?bunny"/>
              </div>
              <p class="font-weight-bold">Advanced team permissions</p>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="max-width: 1200px" class="container-fluid py-5 px-2 px-sm-5">
    <div class="row py-5">
      <div class="col-md-7">
        <div style="max-width: 510px;" class="pr-md-5">
          <h1 style="max-width: 350px" class="mb-4">See your whole fleet, all in one place.</h1>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
          <a href="/contact" class="btn btn-block btn-lg btn-dark mb-5">Get started with Fleet</a>
        </div>
      </div>
      <div class="col-md-5">
        <div class="position-relative py-2">
          <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
            <img class="w-100" src="https://source.unsplash.com/80x80/?kitties"/>
          </div>
          <p style="padding-left: 56px;" class="font-weight-bold position-relative">
            Deploy and manage osquery fleets at scale
          </p>
        </div>
        <div class="position-relative py-2">
          <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
            <img class="w-100" src="https://source.unsplash.com/80x80/?kitten,tabby"/>
          </div>
          <p style="padding-left: 56px;" class="font-weight-bold position-relative">
            Provide transparency for your end users
          </p>
        </div>
        <div class="position-relative py-2">
          <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
            <img class="w-100" src="https://source.unsplash.com/80x80/?kitten,calico"/>
          </div>
          <p style="padding-left: 56px;" class="font-weight-bold position-relative">
            Monitor devices with simple built-in alerts
          </p>
        </div>
        <div class="position-relative py-2">
          <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
            <img class="w-100" src="https://source.unsplash.com/80x80/?kitten"/>
          </div>
          <p style="padding-left: 56px;" class="font-weight-bold position-relative">
            Investigate ongoing incidents in real time
          </p>
        </div>
        <div class="position-relative py-2">
          <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
            <img class="w-100" src="https://source.unsplash.com/80x80/?kittens"/>
          </div>
          <p style="padding-left: 56px;" class="font-weight-bold position-relative">
            Query your entire fleet or specific groups of devices
          </p>
        </div>
        <div class="position-relative py-2">
          <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
            <img class="w-100" src="https://source.unsplash.com/80x80/?kitty"/>
          </div>
          <p style="padding-left: 56px;" class="font-weight-bold position-relative">
            Provide transparency for your end users
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
