<div id="homepage" v-cloak>
  <div class="hero-banner">
    <div style="background-image: url('/images/hero-bg-1955x870@2x.png'); background-repeat: no-repeat;" class="hero-bg">
      <div style="max-width: 1440px" class="container-fluid pt-5 pb-3 px-4 px-sm-5">
        <img alt="Fleet logo" src="/images/logo-120x48@2x.png" style="height: 48px; width: 120px;"/>
      </div>
      <div style="max-width: 1260px" class="container-fluid py-5 px-4 px-sm-5">
        <div style="max-width: 500px" class="mx-auto mx-sm-0">
          <h1 style="font-size: 48px;" class="mb-4">Open source<br class="d-none d-sm-block"/><span class="d-inline d-sm-none">&nbsp;</span>device management</h1>
          <p class="mb-4">Ask questions about your servers, containers, and laptops running Linux, Windows, and macOS.  Quickly deploy osquery and scale your fleet to 50,000+ devices on top of a stable core technology.</p>
          <a href="/contact" style="max-width: 400px;" class="btn btn-block btn-lg btn-primary mb-5">Get started with Fleet</a>
        </div>
      </div>
    </div>
  </div>

  <div style="max-width: 1260px" class="container-fluid pb-5 px-4 px-sm-5 mx-auto">
    <div class="text-center py-5">
      <div class="pb-2">
        <div style="width: 60px; height: 56px;" class="d-inline-block mx-2 mx-sm-3">
          <img alt="apple logo" src="/images/os-apple-52x56@2x.png" style="height: 56px; width: auto;" class="d-block mx-auto"/>
        </div>
        <div style="width: 60px; height: 56px;" class="d-inline-block mx-2 mx-sm-3">
          <img alt="apple logo" src="/images/os-centos-60x56@2x.png" style="height: 56px; width: auto;" class="d-block mx-auto"/>
        </div>
        <div style="width: 60px; height: 56px;" class="d-inline-block mx-2 mx-sm-3">
          <img alt="apple logo" src="/images/os-ubuntu-54x56@2x.png" style="height: 56px; width: auto;" class="d-block mx-auto"/>
        </div>
        <div style="width: 60px; height: 56px;" class="d-inline-block mx-2 mx-sm-3">
          <img alt="apple logo" src="/images/os-windows-59x56@2x.png" style="height: 56px; width: auto;" class="d-block mx-auto"/>
        </div>
        <div style="width: 60px; height: 56px;" class="d-inline-block mx-2 mx-sm-3">
          <img alt="apple logo" src="/images/os-linux-50x56@2x.png" style="height: 56px; width: auto;" class="d-block mx-auto"/>
        </div>
      </div>
      <h2 class="my-5">Programmable access to every device.</h2>
      <p style="max-width: 640px;" class="pb-5 mb-0 mx-auto">Keep track of servers and containers wherever they live: on your own hardware, in Amazon/Azure/Google clouds, or a little bit of each.  Write scripts with fleetctl and design scheduled queries to integrate alerts and dashboards across your enterprise.</p>
      <img alt="Fleet ctl terminal" src="/images/fleetctl-800x460@2x.png" style="max-width: 800px; height: auto;" class="w-100 my-4 mx-auto" />
    </div>
    <% /*
    <div class="row pt-5 my-4">
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?kitten"/>
      </div>
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">Device management</p>
        <h2 class="mb-3">Deploy and manage osquery fleets at scale</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
    </div>
    <div class="row pt-5 my-4">
      <div class="col-md d-flex flex-column justify-content-center px-md-4 py-4 py-md-0 h-md-100">
        <p class="text-uppercase mb-1">No secrets</p>
        <h2 class="mb-3">Provide transparency for your end users</h2>
        <p class="pb-4 mb-0 mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
      </div>
      <div class="col-md">
        <img class="w-100 my-4" src="https://source.unsplash.com/1176x920/?kitten,calico"/>
      </div>
    </div>
    */ %>
  </div>

  <div style="background-color: #F2F7F9;">
    <div style="max-width: 1260px;" class="container-fluid py-5 px-4 px-sm-5 mx-auto">
      <div class="text-center py-5">
        <p class="font-weight-bold text-uppercase mb-1">Features</p>
        <h2 class="mb-5">Turn on the lights in your cloud.</h2>
        <p style="max-width: 640px;" class="pb-5 mb-0 mx-auto">Fleet makes it easier to query and track your servers, containers, and laptops.  It extends osquery to answer questions about multiple devices at the same time and provides log streams that enable automated threat detection.  You can run it on your own hardware or deploy it in any cloud.</p>
        <div class="card-deck">
          <div style="border-radius: 15px; margin-left: 5px; margin-right: 5px;" class="card">
            <div class="card-body py-5 px-4 text-center">
              <div style="width: 172px; height: 122px;" class="mx-auto mb-3">
                <img alt="a computer and a server with different colored lightbulbs on them" src="/images/feature-device-status-172x121@2x.png" style="width: 172px; height: auto" class="mx-auto"/>
              </div>
              <p class="font-weight-bold">Device status</p>
              <p class="mb-0">Find out which machines are low on disk or running vulnerable software, then schedule queries to stay secure and compliant.</p>
            </div>
          </div>
          <div style="border-radius: 15px; margin-left: 5px; margin-right: 5px;" class="card">
            <div class="card-body py-5 px-4 text-center">
              <div style="width: 172px; height: 122px;" class="mx-auto mb-3">
                <img alt="a hand holding some kind of futuristic remote-control-esque trinket" src="/images/feature-forensics-170x122@2x.png" style="width: 170px; height: auto" class="mx-auto"/>
              </div>
              <p class="font-weight-bold">Forensics</p>
              <p class="mb-0">Consume and organize log streams from your devices.  Integrate with tools like Splunk for analysis, alerts, and incident response.</p>
            </div>
          </div>
          <div style="border-radius: 15px; margin-left: 5px; margin-right: 5px;" class="card">
            <div class="card-body py-5 px-4 text-center">
              <div style="width: 172px; height: 122px;" class="mx-auto mb-3">
                <img alt="a shadowy figure who looks sort of a character from the classic game Loom hovers over a computer with a skull and crossbones decal on it as bugs and an unlocked lock hover above his or her head" src="/images/feature-threat-hunting-168x120@2x.png" style="width: 168px; height: auto" class="mx-auto"/>
              </div>
              <p class="font-weight-bold">Cyber threat hunting</p>
              <p class="mb-0">Investigate advanced persistent threats (APTs) and suspicious activity in real time.  Expose developing threats with live queries.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="max-width: 921px" class="mx-auto">
      <div class="row py-5">
        <div class="col-md-7">
          <div style="max-width: 510px;" class="pr-md-5">
            <h1 style="max-width: 350px" class="mb-4">Your hosted universe, all in one flexible app.</h1>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut imperdiet ultricies nisl sit amet luctus. Maecenas ac est vehicula nulla viverra vulputate ac ac tellus. Maecenas at arcu nisi.</p>
            <a href="/contact" class="btn btn-block btn-lg btn-dark mb-5">Get started with Fleet</a>
          </div>
        </div>
        <div class="col-md-5">
          <div class="position-relative py-2">
            <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
              <img class="w-100" src="https://source.unsplash.com/80x80/?kitties"/>
            </div>
            <p style="padding-left: 56px;" class="font-weight-bold position-relative">
              Deploy and manage osquery fleets at scale
            </p>
          </div>
          <div class="position-relative py-2">
            <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
              <img class="w-100" src="https://source.unsplash.com/80x80/?kitten,tabby"/>
            </div>
            <p style="padding-left: 56px;" class="font-weight-bold position-relative">
              Provide transparency for your end users
            </p>
          </div>
          <div class="position-relative py-2">
            <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
              <img class="w-100" src="https://source.unsplash.com/80x80/?kitten,calico"/>
            </div>
            <p style="padding-left: 56px;" class="font-weight-bold position-relative">
              Monitor devices with simple built-in alerts
            </p>
          </div>
          <div class="position-relative py-2">
            <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
              <img class="w-100" src="https://source.unsplash.com/80x80/?kitten"/>
            </div>
            <p style="padding-left: 56px;" class="font-weight-bold position-relative">
              Investigate ongoing incidents in real time
            </p>
          </div>
          <div class="position-relative py-2">
            <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
              <img class="w-100" src="https://source.unsplash.com/80x80/?kittens"/>
            </div>
            <p style="padding-left: 56px;" class="font-weight-bold position-relative">
              Query your entire fleet or specific groups of devices
            </p>
          </div>
          <div class="position-relative py-2">
            <div style="width: 40px; height: 40px; overflow: hidden; left: 0; top: 0;" class="rounded-circle position-absolute mx-auto mb-3">
              <img class="w-100" src="https://source.unsplash.com/80x80/?kitty"/>
            </div>
            <p style="padding-left: 56px;" class="font-weight-bold position-relative">
              Provide transparency for your end users
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
